<style>
    .about-us-container {
        background-image: url({{ section.settings.bg_image | image_url: width: 800 }});
        height: 676px;
        text-align: center;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
</style>
<div id="about-us" class="about-us-container">
    <div class="about-us__info">
        <h1>{{ section.settings.title}}</h1>
        <p>{{ section.settings.text }}</p>
    </div>
</div>

{% schema %}
    {
        "name": "About us",
        "settings": [
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "bg image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "text"
            }
        ],
        "presets": [
            {
                "name": "About us banner"
            }
        ]
    }
{% endschema %}