<div id="about-us" class="about-us-container">
    <div class="about-us__bg">
        <img src="{{ section.settings.bg_image | image_url: width: 1440 }}">
    </div>

    <div class="about-us__mask">

    </div>

    <div class="about-us__info">
        <h1>{{ section.settings.title}}</h1>
        <p>{{ section.settings.text }}</p>
    </div>
</div>

{% schema %}
    {
        "name": "About us",
        "settings": [
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "bg image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "text"
            }
        ],
        "presets": [
            {
                "name": "About us banner"
            }
        ]
    }
{% endschema %}