<style>
    .contact-banner {
        background-image: url({{ section.settings.bg_image | image_url: width: 800  }});
        width: 100%;
        max-height: 405px;
    }
</style>
<div class="contact-banner">
</div>

{% schema %}
    {
        "name": "contact banner",
        "settings": [
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "background image"
            },
        ],
        "presets": [
            {
                "name": "contact banner"
            }
        ]
    }
{% endschema %}