{{ 'disclaimer.css' | asset_url | stylesheet_tag }}
<div class="article-template__content page-width page-width--narrow rte scroll-trigger animate--slide-in" id="disclaimer">
    <p>{{ section.settings.disclaimer_text }}</p>
</div>

{% schema %}
    {
        "name": "disclaimer",
        "settings": [
            {
                "type": "text",
                "id": "disclaimer_text",
                "label": "Disclaimer text"
            },
        ],
        "presets": [
            {
                "name": "disclaimer"
            }
        ]
    }
{% endschema %}