<div id="new-collection">

</div>

{% schema %}
    {
        "name": "new collection",
        "settings": [],
        "presets": [
            {
                "name": "new collection"
            }
        ]
    }
{% endschema %}