{{ 'posted-share.css' | asset_url | stylesheet_tag }}
<div class="article-template__content page-width page-width--narrow rte scroll-trigger animate--slide-in" id="posted-share">
    <span></span>
    <a class="button button--primary">

        <span class="mask"></span>
    </a>
</div>