{{ 'posted-share.css' | asset_url | stylesheet_tag }}
<div class="article-template__content page-width page-width--narrow rte scroll-trigger animate--slide-in" id="posted-share">
    <span>{{ section.settings.date_posted }}</span>
    <a class="button button--primary share">
        {{ section.settings.text }}
        {% render 'share-arrow' %}
        <span class="mask"></span>
    </a>
</div>

{% schema %}
    {
        "name": "posted share",
        "settings": [
            {
                "type": "text",
                "id": "date_posted",
                "label": "date posted",
            },
            {
                "type": "text",
                "id": "text",
                "label": "anchor text"
            },
        ],
        "presets": [
            {
                "name": "posted share"
            }
        ]
    }
{% endschema %}