<div id="supplements-{{ section.id }}" class="supplements">

    <div class="supplements__info">
        <h2>{{ section.settings.title }}</h2>
        <p>{{ section.settings.text }}</p>
    </div>

    <div class="supplements__products-grid">

    </div>

    <a>shop all</a>

</div>

{% schema %}
    {
        "name": "supplements",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Supplements title"
            },
            {
                "type": "text",
                "id": "text",
                "label": "Supplements text"
            },
            {
                "type": "product_list",
                "id": "product_list",
                "label": "Product list",
                "info": "Select the products you want to display",
                "limit": 4,
            },
        ],
        "presets": [
            {
                "name": "supplements"
            }
        ]
    }
{% endschema %}