{{ 'syn-support.css' | asset_url | stylesheet_tag }}
<div id="syn-support">
    <div class="syn-support-wrapper">
        <h2>{{ section.settings.title }}</h2>
        <p>{{ section.settings.subtitle }}</p>
        <div class="value-props">
            <div class="value-prop__card">
                <div class="vp-img-wrapper">
                    <img>
                </div>
                <p></p>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "syn support",
        "settings": [],
        "presets": [
            {
                "name": "syn support"
            }
        ]
    }
{% endschema %}