.post-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
    padding: 77px 0 80px 0;
}

@media screen and (min-width: 750px) {
    .post-wrapper {
        display: flex;
        flex-direction: row;
    }
}