h3 {
    text-align: center;
    margin:77px 0 77px 0;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 60px;
    line-height: 90%;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}

h4 {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 23px 0 11px 0;
}

p {
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.you-may-enjoy-gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
    max-width: 690px;
    margin: 0 auto;
    justify-content: stretch;
}

.yme-card {
    flex: 1 1 calc((100% - 40px) / 3); /* 2 gaps of 20px between 3 items */
    max-width: calc((100% - 40px) / 3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
