h3 {
    text-align: center;
    margin: 0 0 48px 0;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 28px;
    line-height: 90%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

h4 {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.key-benefits-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 690px;
    margin: 0 auto;
}

.kb-card {
    flex: 1 1 calc(50% - 10px); /* 2 items per row with 10px gap between them */
    max-width: calc(50% - 10px); /* Ensures no overflow */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .kb-card {
        flex: 1 1 100%; /* Stack items on smaller screens */
        max-width: 100%;
    }
}
