#posted-share {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.share {
    color: #FFF !important;
    text-transform: uppercase;
    display: flex;
    gap: 10px;
}