#syn-support {
    background: rgba(0, 0, 0, 1);
    padding: 60px 0 80px 0;
}

.syn-support-wrapper {
    max-width: 804px;
    margin: 0 auto;
}

h2,
p {
    color: #fff;
    font-family: 'Barlow';
}
