#syn-support {
    padding: 60px 0 80px 0;
}

.syn-support-wrapper {
    max-width: 804px;
    margin: 0 auto;
}

#syn-support h2,
#syn-support p {
    color: #fff;
    font-family: 'Barlow';
}

#syn-support h2 {
    font-weight: 700;
    font-size: 52px;
    line-height: 90%;
    letter-spacing: 0px;
    vertical-align: middle;
    margin: 0 0 20px 0;
    text-align: center;
}

#syn-support p {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    margin-bottom: 20px;
}

.value-props {
    display: flex;
    flex-direction: column;
}

.value-prop__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0px;
    line-height: 160%;
}

.value-prop__card p {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    text-wrap: stable;
}

.value-prop__card > p,
.syn-support-wrapper > p {
    margin: 0 !important;
}

.vp-img-wrapper {
    margin-block: 20px;
}

@media screen and (min-width: 1054px) {
    .value-props {
        display: flex;
        flex-direction: row;
        column-gap: 11px;
        justify-content: space-around;
    }
}